/*
Developer: Sreekanth Putta
G Number : G01223547
This file contains css code which is used by the html files .*/


.nav {
	background-color: green;
	align-content: center;
	width: auto;
	text-align: center;
}

h1.heading {
	color: white;
	padding: 10px 10px 10px 10px
}

h1.feedbackheading {
	color: blue
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.feedbackheading {
	border: blue;
	border-width: 5px;
	border-style: solid;
	padding: 0px;
	color: blue;
}

h2 {
	font-size: 28px;
	color: green;
}

form{
	font-size: 18px;
	color: darkred;
	border: black;
	border-width: 3px;
	border-style: solid;
	padding: 0px;
	background-color: silver;
}

.error {
	color: red;
	position: center;
	font-size: 18px;
	column-span: 2;
}